.profile__edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 1px solid #FFFFFF;
  background-color: #000000;
  cursor: pointer;
}

@media (min-width: 1280px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
  }
}
